* {
    box-sizing: border-box;
}

.sidebar {
    position: sticky;
    left: 0;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #e5e7eb;
    background-color: white;
    padding: 20px;
    transition: all 0.1s ease;
    z-index: 100;
}

.sidebarCollapsed {
    width: 100px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.headerText {
    width: 150px;
    margin: 0px;
    margin-left: 15px;
    font-size: 30px;
    font-weight: 700;
    color: #4880FF;
    overflow: hidden;
    transition: all 0.1s ease;
    text-decoration: none;
}

.expandButton {
    height: 56px;
    width: 56px;
    border-radius: 50px;
    border: none;
    background-color: rgb(249, 249, 249);
    cursor: pointer;
}

.expandButton:hover {
    background-color: rgb(249, 249, 249);
}

.sidebarList {
    display: flex;
    flex-direction: column;
    width: 97%;
}

.sidebarListItem {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65px;
    text-decoration: none;
    color: #374151;
    border-radius: 10px;
    transition: all 0.1s ease;
}

.sidebarListItem:not(.activeTab):hover {
    background-color: #f3f4f6;
}

.activeTab {
    background-color: #4880FF;
    color: white;
}

.sidebarListItemText {
    width: 130px;
    margin-left: 25px;
    font-size: 20px;
    transition: all 0.1s ease;
    overflow: hidden;
}

.collapsed {
    width: 0px;
    margin: 0px;
}

.sidebarListItem:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.tooltip {
    position: absolute;
    left: 100%;
    margin-left: 2rem;
    width: max-content;
    padding: 0.6rem;
    border-radius: 6px;
    background-color: #6190ff;
    color: #fff;
    font-size: 1rem;
    visibility: hidden;
    opacity: 0.2;
    transform: translateX(-0.75rem);
    transition: all 0.2s ease;
}