.footerContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 400px; /* Adjust as needed */
    margin-top: auto; /* Push to bottom */
    padding-top: 20px;
    border-top: 1px solid #eeeeee;
}

.websiteInfo,
.phoneInfo {
    font-size: 14px;
    color: #777777;
} 